<header>
        <nav>
            <div id="logo-titulo"> 
                <a routerLink="bolsas">
                    <img id="img-logo" src="../../../../../public/unirio.png" alt="Logo UNIRIO">
                    <span>Portal SEBES</span>
                </a>
            </div>
            <div>
                <a routerLink="bolsas" class="hover">Início</a>
                <a routerLink="bolsas" class="hover">Bolsas</a>
                <a routerLink="" class="hover">Perfil</a>
            </div>
        </nav>
</header>