header {
    background-color: #d1d1d1; 
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo e título */
#logo-titulo a{
    display: flex;
    align-items: center;
}

#img-logo {
    width: 50px; 
    height: 50px;
}

/* título */
#logo-titulo span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

/* navegação */
nav .hover {
    text-decoration: none;
    margin-left: 20px;
    color: #000;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    transition: color 0.3s ease;
    border: solid 2px #d1d1d1;
}


nav .hover:hover {
    border: solid 2px #999;
    background-color: #999999;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
    cursor: pointer;
}