<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Base.css">
</head>
<body>
    <aside id="side-section">
        <nav id="lista-paginas">          
                <a href="">Minhas Inscrições</a>
                <a href="">Configurações</a>
                <a href="">Sair</a>
        </nav>
    </aside>

    <main>
        <h2>Bolsas Oferecidas</h2>
        <div class="div-bolsa">
            <h3 class="titulo-bolsa negrito">Nome Bolsa</h3>
            <p class="descricao-bolsa">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <span class="status-bolsa negrito">Status</span><br>
            <span class="status-resposta">Disponível</span><br>

            <button class="inscrever">Inscreva-se</button>
        </div>
        <div class="div-bolsa">
            <h3 class="titulo-bolsa negrito">Nome Bolsa</h3>
            <p class="descricao-bolsa">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <span class="status-bolsa negrito">Status</span><br>
            <span class="status-resposta">Disponível</span><br>

            <button class="inscrever">Inscreva-se</button>
        </div>
        <div class="div-bolsa">
            <h3 class="titulo-bolsa negrito">Nome Bolsa</h3>
            <p class="descricao-bolsa">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <span class="status-bolsa negrito">Status</span><br>
            <span class="status-resposta">Disponível</span><br>

            <button class="inscrever">Inscreva-se</button>
        </div>
        <div class="div-bolsa">
            <h3 class="titulo-bolsa negrito">Nome Bolsa</h3>
            <p class="descricao-bolsa">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <span class="status-bolsa negrito">Status</span><br>
            <span class="status-resposta">Disponível</span><br>

            <button class="inscrever">Inscreva-se</button>
        </div>
        <div class="div-bolsa">
            <h3 class="titulo-bolsa negrito">Nome Bolsa</h3>
            <p class="descricao-bolsa">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <span class="status-bolsa negrito">Status</span><br>
            <span class="status-resposta">Disponível</span><br>

            <button class="inscrever">Inscreva-se</button>
        </div>
        
    </main>
</body>
