.container {
    position: relative;
    display: inline-flex;
    height: 100vh; /* ocupa a tela inteira, se desejar */
    margin: 0 auto;
}

app-sidebar {
    width: 12vw;
    min-width: 200px;
}

.conteudo {
    display: inline-flex;
    justify-content: center;
    width: 88vw;
    padding-top: 30px;
}
