<section class="selecao-bolsa">
    <button type="menu" class="dropdown"> Selecione a bolsa
        <div class="dropdown-content">
            <a href="">Bolsa Alimentação</a>
            <a href="">Nome Bolsa</a>
            <a href="">Nome Bolsa</a>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <polyline points="6 9 12 15 18 9"/>
        </svg>
    </button>
<!-- seleção de qual bolsa será avaliada -->

</section>