
.lista-documentos{
    margin-top: 30px;
    margin-left: 20px;    
}

.linha-documento {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px 0;
}

#page-title{
    font-size: 1.7rem;
    margin-bottom: 15px;
    margin-left: 20px;
    font-weight: bold;
}


.linha-documento {
    background-color: #fff;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-width: 500px;
}


.lista-documentos button {
    background-color: #25597e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;

}
.enviar{
    margin-top: 20px;
}

.lista-documentos button:hover {
    background-color:   #1c4560;
}
/* 
#25597e
hover:#1c4560
*/


.status {
    display: flex;
    align-items: center;
    gap: 8px;
}



button{
    border: none;
    padding: 7px;
    border-radius: 20px;
    margin-left: 50px;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.185);
}


.direita{
    margin-left: 150px ;
}
.esquerda{
    display: flex;
    justify-content: flex-end;
}