
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login/login.component.css">

    
</head>


<body>
        <app-navbar />
    
    <main>
        <h1>Login</h1>
        <form class="form-login">
            <input type="email" name="" id="email" placeholder="Email">
            <input type="password" name="" id="password" placeholder="Senha">   
            
            Esqueceu a <a href="">senha?</a>
            Não tem cadastro? <a href="">Cadastre-se.</a>
        </form>
    </main>
</body>