<link rel="stylesheet" href="inscricoes.component.css">

<app-selecao-bolsa />


<section id="inscricoes-recebidas">
    <table>
        <tr>
            <td>Candidato</td>
            <td>Status Matrícula</td>
            <td>Documentos</td>
            <td>Resultado</td>
            <td></td>
        </tr>
        <tr>
            <td>
                <img src="../../../../../public/unirio.png" alt="foto de perfil do estudante">
                <span>Nome completo aluno</span>
            </td>
            <td>Trancada</td>
            <td>Total</td>
            <td>Indeferido</td>
            <td><button class="btn-avaliacao" href="">Acessar</button></td>
        </tr>
        <tr>
            <td>
                <img src="../../../../../public/unirio.png" alt="foto de perfil do estudante">
                <span>Nome completo aluno</span>
            </td>
            <td>Ativa</td>
            <td>Total</td>
            <td>Deferido</td>
            <td><button class="btn-avaliacao" href="">Acessar</button></td>
        </tr>
        <tr>
            <td>
                <img src="../../../../../public/unirio.png" alt="foto de perfil do estudante">
                <span>Nome completo aluno</span>
            </td>
            <td>Ativa</td>
            <td>Parcial</td>
            <td>Indeferido</td>
            <td><button class="btn-avaliacao" href="">Acessar</button></td>
        </tr>
        <tr>
            <td>
                <img src="../../../../../public/unirio.png" alt="foto de perfil do estudante">
                <span>Nome completo aluno</span>
            </td>
            <td>Cancelada</td>
            <td>Parcial</td>
            <td>Indeferido</td>
            <td><button class="btn-avaliacao" href="">Acessar</button></td>
        </tr>
        <tr>
            <td>
                <img src="../../../../../public/unirio.png" alt="foto de perfil do estudante">
                <span>Nome completo aluno</span>
            </td>
            <td>Ativa</td>
            <td>Total</td>
            <td>Deferido</td>
            <td><button class="btn-avaliacao" href="">Acessar</button></td>
        </tr>
        <tr>
            <td>
                <img src="../../../../../public/unirio.png" alt="foto de perfil do estudante">
                <span>Nome completo aluno</span>
            </td>
            <td>Ativa</td>
            <td>Parcial</td>
            <td>Indeferido</td>
            <td><button class="btn-avaliacao" href="">Acessar</button></td>
        </tr>
    </table>
</section>

