<div class="box-cadastro">
  <h1 class="page-title">Cadastro</h1>
  
  <form (ngSubmit)="onSubmit()" >
    <!-- Dados básicos -->
    <input class="input" [(ngModel)]="usuario.nomeUsuario" name="nomeUsuario" placeholder="Nome de usuário" required>
    <input class="input" type="email" [(ngModel)]="usuario.email" name="email" placeholder="Email" required>
    <span class="erro erroEmail" *ngIf="erroEmail">{{ erroEmail }}</span>
  
    <select class="input" name="tipo" [(ngModel)]="usuario.tipo" required>
      <option value="" disabled selected>Selecione o tipo de usuário</option>
      <option [value]="usuarioTipo.DISCENTE">Discente</option>
      <option [value]="usuarioTipo.SERVIDOR">Servidor</option>
    </select>
  
    <!-- Dados para Discente -->
    <div *ngIf="usuario.tipo === usuarioTipo.DISCENTE" class="form-section">
      <input class="input" [(ngModel)]="discente.nome" name="nomeCompletoDiscente" placeholder="Nome completo" required>
      <input class="input" [(ngModel)]="discente.nomeSocial" name="nomeSocialDiscente" placeholder="Nome social (opcional)">
      <input class="input" [(ngModel)]="discente.telefone" name="telefoneDiscente" placeholder="Telefone" required>
      <input class="input" [(ngModel)]="discente.matricula" name="matricula" placeholder="Matrícula" required>
    </div>
  
    <!-- Dados para Servidor -->
    <div *ngIf="usuario.tipo === usuarioTipo.SERVIDOR" class="form-section">
      <input class="input" [(ngModel)]="servidor.nome" name="nomeCompletoServidor" placeholder="Nome completo" required>
      <input class="input" [(ngModel)]="servidor.nomeSocial" name="nomeSocialServidor" placeholder="Nome social (opcional)">
      <input class="input" [(ngModel)]="servidor.telefone" name="telefoneServidor" placeholder="Telefone" required>
      <input class="input" [(ngModel)]="servidor.cargo" name="cargo" placeholder="Cargo" required>
      <input class="input" [(ngModel)]="servidor.setor" name="setor" placeholder="Setor" required>
    </div>
  
    <span class="erro erroGeral" *ngIf="erroGeral">{{ erroGeral }}</span>
    <button type="submit" class="btn-default" >Cadastrar</button>
  </form>
</div>
