/* Estilização do main */
.box-cadastro {
    background-color: var(--background-default);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 60vh;
    width: 75vw;
    align-content: space-around;
}

/* Estilo dos inputs */
.input {
    width: 250px;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background-color: #e0e0e0;
    font-size: 0.9rem;
    outline: none;
}

.input:focus {
    background-color: #d0d0d0;
}

/* Container dos botões de seleção */
#form-cadastro div{
    margin: 10px 0;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Botões Aluno e Funcionário */
.cadastro-aluno, .cadastro-funcionario {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 0 5px;
    background-color: #555;
}

/* Verde: #2e7d32 */

.cadastro-aluno:hover, .cadastro-funcionario:hover {
    background-color: #2e7d32c9;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
}

.erroGeral{
    margin: 5px 0;
}