body {
    display: flex;
}
aside{
    width: 20%;
}
.menu{
    width: 200px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 0;
    margin: 10px;
    height: fit-content;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


#titulo-menu{
    text-align: center;
    font-size: 1rem;
    margin: 0 15px 0 15px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}


.menu nav a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #000;
    padding: 10px 15px;
    border-top: 1px solid #ccc;
    transition: background-color 0.3s ease;
    margin: 0 15px 0 15px;
}


.menu nav a:first-of-type{
    border-top: none;
}

.menu nav a:hover{
    background-color: #e0e0e0;
    cursor: pointer;
    border-radius: 5px;
}