<title>Bolsa de Alimentação</title>

<main>
    <h1 id="page-title">Bolsa Alimentação</h1>
    <div class="lista-documentos">
            <div class="linha-documento">
            
                <div class="esquerda">
                    <span class="titulo">Documento</span>
                </div>  
            
                <div class="direita">
                    <span class="situacao">Pendente</span>
                    <button class="upload-btn">Upload</button>
                </div>

            </div>
            <div class="linha-documento">
            
                <div class="esquerda">
                    <span class="titulo">Documento</span>
                </div>  
            
                <div class="direita">
                    <span class="situacao">Pendente</span>
                    <button class="upload-btn">Upload</button>
                </div>

            </div>
            <button class="enviar" formmethod="post" type="submit">Finalizar</button>
    </div>
    
    
    
</main>    



