<link rel="stylesheet" href="../cadastro.css">

<main>  
    <h1 id="page-title">Cadastro</h1>
    <form id="form-cadastro-aluno">
        <input class="input" type="text" placeholder="Nome Completo" />
        <input class="input" type="email" placeholder="E-mail" />
        <input class="input" type="password" placeholder="Senha" />
        <input class="input" type="text" placeholder="CPF" />
        <input class="input" type="text" placeholder="Matrícula" />

        <div>
            <button type="button" class="cadastro-aluno"> Aluno</button>
            <button type="button" class="cadastro-funcionario"> Funcionário</button>
        </div>
        <button type="submit"> Cadastrar </button>
    </form>
</main>


