.lista-documentos{
    margin-top: 30px;
    margin-left: 20px;   
    display: flex;
    flex-direction: column; 
    
}

#page-title{
    font-size: 1.7rem;
    margin-bottom: 15px;
    margin-left: 20px;
    font-weight: bold;
}


.linha-documento {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-width: 500px;
}

.enviar{
    margin-top: 20px;
}

.status {
    display: flex;
    align-items: center;
    gap: 8px;
}

button{
    margin-left: 50px;
}


.direita{
    margin-left: 150px ;
    display: flex;
    align-items: center;
}
.esquerda{
    display: flex;
    justify-content: flex-end;
}