input[type="radio"]{
    display: none;
}
.formulario{
    margin-top: 30px;
    margin-left: 20px;   
    display: flex;
    flex-direction: column; 
    
}
.display-column{
    display: flex;
    flex-direction: column;
}
.display-row{
    display: flex;
    margin-left: 20px;
}
.pergunta{
    background-color:var(--question-bg-default);
    padding: 12px;
    margin:5px;
    border-radius: 10px;
}
h4{
    margin-top: 20px;
}
.instrucoes{
    font-size: 13.5px;
    color: rgb(58, 58, 58);
}

#page-title{
    font-size: 1.7rem;
    margin-bottom: 15px;
    margin-left: 20px;
    font-weight: bold;
}


.linha-documento {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-width: 500px;
}

.enviar{
    margin-top: 20px;
}

.status {
    display: flex;
    align-items: center;
    gap: 8px;
}

button{
    margin-left: 50px;
}

.direita{
    margin-left: 150px ;
    display: flex;
    align-items: center;
}
.esquerda{
    display: flex;
    justify-content: flex-end;
}

