
main {
    padding: 20px 40px;
    width: 75%;
}


.info-bolsa {
    margin-bottom: 30px;
}

.info-bolsa h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info-bolsa p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.5;
}


.documentos {
    background-color: #f9f9f9;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 500px;
}

.documentos h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}


.documentos div {
    margin-bottom: 15px;
}

.documentos span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
}


.documentos span::before {
    content: "●";
    font-size: 1rem;
    margin-right: 10px;
    color: green; 
}


button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.documentos button {
    background-color: #25597e;
    color: white;
    margin-right: 10px;
}

.documentos button:hover {
    background-color: #1c4560;
}

.documentos span button {
    background-color: #e0e0e0;
    color: #333;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.documentos span button:hover {
    background-color: #ccc;
}


.edital {
    margin-top: 30px;
}

.edital h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.edital img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
