<body>
    <header>
        <img src="" alt="Logo UNIRIO">
        <h2>Portal SEBES</h2>

        <a href="">Início</a>
        <a href="">Bolsas</a>
        <a href="">Perfil</a>

    </header>
    
    <aside class="menu-estudante">
        <nav>
            <h3>Menu</h3>
            <a href="">Minhas inscrições</a>
            <a href="">Configurações</a>
            <a href="">Sair</a>
            </nav>
    </aside>

    <main>
        <div class="info-bolsa">
            <h1>Bolsa Alimentação</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        
        <div class="documentos">
                <h2>Documentos necessários</h2>
                    <ul>
                        <li>Documento</li>
                        <li>Documento</li>
                        <li>Documento</li>
                    </ul>

                <button type="submit">Inscreva-se</button>
                <button formmethod="post" type="submit">Inscreva-se</button> 
        </div>
        
        <div class="edital">
                <h1>Edital</h1>
                <img src="" alt="imagem do edital">
        </div>
    </main>    
</body>
