<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolsa de Alimentação</title>
</head>
<body>
    <header>
        <img src="" alt="Logo UNIRIO">
        <h2>Portal SEBES</h2>

        <a href="">Início</a>
        <a href="../bolsas-oferecidas/bolsas-oferecidas.component.html">Bolsas</a>
        <a href="">Perfil</a>

    </header>
    <aside class="menu-estudante">
        <nav>
        <h3>Menu</h3>
        <a href="">Minhas inscricoes</a>
        <a href="">Configuracoes</a>
        <a href="">Sair</a>
         </nav>
    </aside>
    
    <main>
        <h1>Bolsa Alimentacao</h1>
        <div class="">
                <div class="linha-documento">
                
                    <div class="esquerda">
                        <span class="status vermelho"></span>
                        <span class="titulo">Documento</span>
                    </div>  
                
                    <div class="direita">
                        <span class="situacao">Pendente</span>
                        <button class="upload-btn">Upload</button>
                    </div>

                </div>

                
                <div class="linha-documento">
                
                    <div class="esquerda">
                        <span class="status vermelho"></span>
                        <span class="titulo">Documento</span>
                    </div>  
                
                    <div class="direita">
                        <span class="situacao">Pendente</span>
                        <button class="upload-btn">Upload</button>
                    </div>

                </div>


                <div class="linha-documento">
                
                    <div class="esquerda">
                        <span class="status vermelho"></span>
                        <span class="titulo">Documento</span>
                    </div>  
                
                    <div class="direita">
                        <span class="situacao">Pendente</span>
                        <button class="upload-btn">Upload</button>
                    </div>

                </div>
        </div>
        
        <button formmethod="post" type="submit">Finalizar</button>
       
    </main>    
</body>



