main{
    width: 70vw;
}
a:any-link{
    text-decoration: none;
}

#div-info-perfil{
    display: flex;
    align-items: center;
    background-color:white;
    border-radius: 25px;
    padding: 15px;
}
#info-user{
    display: flex;
    flex-direction: column;
}
#username{
    font-size: var(--page-title-font-size);
}

.div-processo{
    background-color: white;
    display: flex;
    padding: 10px;
    border-radius: 25px;
    margin-bottom:20px;
}
.page-title{
    margin: 20px 15px 10px 20px;
}
.esquerda{
    align-content: center;
}
.direita{
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
}
.div-periodo, .div-status{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.tipo-bolsa{
    align-content: center;
}

/* Imagens */
img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}