
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../cadastro.css">
</head>
<body>
        <header>
                <div id="logo-titulo"> 
                    <a href="">
                        <img id="img-logo" src="../../../../public/LOGO_UNIRIO.png" alt="Logo UNIRIO">
                        <span>Portal SEBES</span>
                    </a>
                </div>
                <nav>
                    <a href=""> InÍcio</a>
                    <a href=""> Bolsas</a>
                    <a href=""> Perfil</a>
                </nav>
        </header>

        <main>  
            <h1>Cadastro</h1>
            <form class="form-cadastro-aluno">
                <input type="text" placeholder="Nome Completo" />
                <input type="email" placeholder="E-mail" />
                <input type="passowrd" placeholder="Senha" />
                <input type="text" placeholder="CPF" />
                <input type="text" placeholder="Matrícula" />

                <div>
                    <button type="button" class="cadastro-aluno"> Aluno</button>
                    <button type="button" class="cadastro-funcionario"> Funcionário</button>
                </div>
            </form>
        </main>
</body>
