<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Base.css">
</head>
<body>
    <app-navbar></app-navbar>
    
    <aside id="side-section">
        <nav id="lista-paginas">          
                <a href="">Minhas Inscrições</a>
                <a href="">Configurações</a>
                <a href="">Sair</a>
        </nav>
    </aside>

    <main>
        <h2>Bolsas Oferecidas</h2>
        <app-bolsa></app-bolsa>
    
    </main>
</body>
