<header>
        <nav>
            <div id="logo-titulo"> 
                <a routerLink="editais">
                    <img id="img-logo" src="/unirio.png" alt="Logo UNIRIO">
                    <span>Portal SEBES</span>
                </a>
            </div>
            <div>
                <a routerLink="" class="hover">Início</a>
                <a routerLink="" class="hover">Editais</a>
                <a routerLink="/meuperfil" class="hover">Perfil</a>
            </div>
        </nav>
</header>