<header>
        <nav onload="isUsuarioLoggedIn()">
            <div id="logo-titulo"> 
                <a routerLink="/processosSeletivos">
                    <img id="img-logo" src="/unirio.png" alt="Logo UNIRIO">
                    <span>Portal SEBES</span>
                </a>
            </div>
            <div>
                <a routerLink="/inicio" class="hover">Início</a>
                <a routerLink="/processos-seletivos" class="hover">Publicações</a>
                <a routerLink="/bolsas" class="hover">Bolsas</a>
                <a routerLink="/perfil" *ngIf="isLoggedIn" class="hover">Perfil</a>
            </div>
        </nav>
</header>