<header>
    <nav>
        <div id="logo-titulo"> 
            <a routerLink="editais">
                <img id="img-logo" src="/unirio_logo.png" alt="Logo UNIRIO">
                <span>Portal SEBES</span>
            </a>
        </div>
        <div>
            <a routerLink="/inicio"  class="hover">Início</a>
            <a routerLink="/processosSeletivos" routerLinkActive="active" class="hover">Publicações</a>
            <a routerLink="/login" routerLinkActive="active" class="hover">Perfil</a>
        </div>
    </nav>
</header>